* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Markazi Text", "Karla", serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.header {
  padding: 10px 30px;
}

hr {
  margin: 10px 0;
}

.main,
.cards {
  padding: 20px 30px 0 30px;
}

.title {
  font-size: 2.8rem;
}

.sub-title {
  font-size: 1.8rem;
}

.plain-text {
  font-size: 1.2rem;
}

.link {
  all: unset !important;
}
.link:hover {
  cursor: pointer !important;
}

a {
  all: unset;
}

.link-center {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  right: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 2px 4px 10px 0px rgb(161, 161, 161);
  z-index: 100;
}

.MuiFormHelperText-root {
  color: red !important;
}

.loginPage {
  width: 75%;
  margin: auto auto;
}

.content100vh {
  min-height: 100vh;
}
.medium {
  font-size: 1.3rem;
}

.about-img {
  width: 100%;
  object-fit: cover;
  height: 50vh;
}
.abouth1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3px 10px;
}

@media screen and (min-width: 620px) {
  .navbar > li:last-child {
    display: none;
  }

  .inputParent > * {
    width: 25vw;
  }
}

@media screen and (max-width: 620px) {
  .resImg {
    display: none !important;
  }
  .navbar > *:not(:first-child, :last-child) {
    display: none !important;
  }
  .navbar > *:last-child {
    justify-content: right;
    padding-right: 30px;
  }
  .navbar > *:first-child {
    justify-content: left;
    padding-left: 25px;
  }
  .navbar > *:last-child:hover {
    background-color: #ffffff !important;
  }
  .link-center:hover {
    cursor: pointer;
    background-color: aliceblue !important;
  }
}

@media screen and (max-width: 1310px) {
  .bigCards {
    display: none !important;
  }
  .smallCards {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1310px) {
  .smallCards {
    display: none !important;
  }
}

label {
  font-size: 1.5rem;
}

.loginImg {
  position: absolute;
  width: 50vw;
  height: 107vh;
  right: 0;
  top: 0;
}

.inputParent > * {
  flex-direction: column !important;
}

.shopCard {
  background-color: rgb(218, 234, 249);
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.centerContent {
  width: 70%;
  margin: 15px auto;
}

.cardsVertical {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.center {
  text-align: center;
  margin: 0 auto;
}
.card-img {
  object-fit: cover;
  border-radius: 5px;
  height: 100px;
}

.CarouselCards {
  padding: 10px;
  background-color: #edefee;
}
.bg-white {
  background-color: #ffffff;
}
